@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-Regular.woff);
  font-style: regular;
}

@font-face {
  font-family: "Open Sans-Bold";
  src: url(../fonts/OpenSans-Bold.woff);
  font-style: bold;
}

* {
  /*сброс отступов */
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}


/* стили шапки */
.header {
  width: 100%;
  background-image: url(../images/banner-bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #000000;
  position: relative;
  z-index: 0;
  padding-top: 25px;
  padding-bottom: 130px;
}

.header:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000000;
  opacity: 0.6;
  z-index: -1;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

.menu-list {
  list-style-type: none;
  display: flex;
}

.menu-item {
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 400;
  font-family: "Open Sans";
  text-align: center;
  margin: 0 0 0 35px;
}

.menu-item:hover {
  text-decoration: underline;
}

.menu-item-link {
  color: #ffffff;
}

/* Бургер меню */

.menu-button {
  visibility: hidden;
  width: 20px;
  height: 1em;
  border: none;
  padding: 0;
  background-color: transparent;
  font-size: 20px;
  position: relative;
  text-indent: -9999px;
  cursor: pointer;
}

.menu-button:before {
  top: 0;
}

.menu-button::after {
  bottom: 0;
}

.menu-button:before,
.menu-button:after {
  content: "";
  width: 100%;
  height: 20%;
  border-radius: 5px;
  background-color: #ffffff;
  position: absolute;
  left: 0;
}

.menu-button-span {
  width: 100%;
  height: 20%;
  margin-top: -0.1em;
  border-radius: 5px;
  background-color: #ffffff;
  position: absolute;
  left: 0;
  top: 50%;
}

/*Блог о здоровье и прч */
.title {
  font-size: 4.5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Open Sans-Bold";
  color: #ffffff;
  text-align: center;
  line-height: 1.6;
  padding: 0 15px;
  max-width: 1200px;
  margin-top: 105px;
  margin-left: auto;
  margin-right: auto;
}

/*Сейчас в тренде*/
.trends {
  margin-top: 62px;
  font-size: 1rem;
}

.trends-title {
  width: 100%;
  font-size: 2rem;
  line-height: 1.45;
  color: #0f0d0e;
  font-weight: 700;
  font-family: "Open Sans-Bold";
  text-align: center;
  text-transform: uppercase;
}

.trends-title:after {
  content: "";
  display: block;
  width: 66px;
  height: 3px;
  background-color: #b59f5b;
  margin: 10px auto 25px;
}

.trends-blocks {
  display: flex;
  width: 100%;
}

.trend-block {
  min-width: 25%;
  min-height: 320px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #eff6f1;
  display: flex;
  align-items: flex-end;
  position: relative;
  z-index: 0;
}

.trend-block:nth-child(1n + 2) {
  margin-left: 5px;
  min-width: calc(25% - 5px);
}

.trend-block:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000000;
  opacity: 0.6;
  z-index: -1;
}

.trend-block-description {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0);
  padding: 35px 30px;
  margin: 20px;
  outline: 3px solid #b59f5b;
  width: 100%;
}

.trend-block-tags {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  text-transform: uppercase;
}

.trend-block-tag {
  margin-right: 20px;
  font-size: 1.4rem;
  line-height: 2.8;
  font-weight: 700;
  font-family: "Open Sans-Bold";
}

.trend-block-tag-link {
  color: #b59f5b;
}

.trend-block-tag:hover {
  text-decoration: underline;
}

.trend-block-title {
  font-size: 2rem;
  line-height: 1.2;
  color: #ffffff;
  font-weight: 700;
  font-family: "Open Sans";
  text-transform: uppercase;
}

.trend-block-title:hover {
  color: #b59f5b;
}

.uno-trend {
  background-image: url(../images/trend1.jpg);
}

.dos-trend {
  background-image: url(../images/trend2.jpg);
}

.tres-trend {
  background-image: url(../images/trend3.jpg);
}

.quatro-trend {
  background-image: url(../images/trend4.jpg);
}

/* Контент блога */
.content {
  max-width: 1200px;
  padding: 60px 15px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}

.main {
  display: flex;
  flex-direction: column;
  max-width: 782px;
}

.article {
  display: flex;
  align-items: flex-start;
}

/* добавлен по инструменту разраб */
h2 {
  margin-top: 2px;
}

.article:nth-child(n + 2) {
  margin-top: 57px;
}

.article-preview {
  width: 100%;
}

.article-preview-image {
  background-color: #b59f5b;
}

.article-info {
  margin-left: 30px;
}

.article-tag-group {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  text-transform: uppercase;
}

.article-tag {
  margin-right: 20px;
  font-size: 1.4rem;
  font-weight: 700;
  font-family: "Open Sans-Bold";
  line-height: 1.2;
}

.article-tag-link {
  color: #b59f5b;
}

.article-tag:hover {
  text-decoration: underline;
}

.article-heading {
  font-size: 2rem;
  color: #0f0d0e;
  font-weight: 700;
  font-family: "Open Sans-Bold";
  text-transform: uppercase;
}

.article-heading:hover {
  color: #b59f5b;
}

.article-hint {
  display: flex;
  margin: 25px 0 45px 0;
}

.article-time {
  font-size: 1.2rem;
  color: #888888;
  font-weight: 400;
  font-family: "Open Sans";
  margin-right: 10px;
}

.article-autor {
  font-size: 1.2rem;
  color: #000000;
  font-weight: 700;
  font-family: "Open Sans-Bold";
}

.article-content {
  font-size: 1.5rem;
  line-height: 1.4;
  color: #0f0d0e;
  font-weight: 400;
  font-family: "Open Sans";
}

/* Правая колонка */
.right-bar {
  width: 272px;
}

.new-post-search,
.new-posts,
.mailings,
.tags,
.themes {
  margin-bottom: 60px;
}

.new-posts-title,
.mailings-title,
.tags-title,
.themes-title {
  font-size: 1.4rem;
  color: #0f0d0e;
  font-weight: 700;
  font-family: "Open Sans-Bold";
  text-transform: uppercase;
  text-align: center;
}

.new-posts-title::after {
  content: "";
  display: block;
  width: 66px;
  height: 3px;
  background-color: #b59f5b;
  margin: 5px auto 25px;
}

.new-post {
  display: flex;
  align-items: flex-start;
  margin-bottom: 22px;
}

.new-post-image {
  max-width: 70px;
  min-width: 70px;
  background-color: #f4f7f6;
}

.new-post-info {
  margin-left: 20px;
}

.new-post-time {
  font-size: 1.2rem;
  color: #000000;
  font-weight: 400;
  font-family: "Open Sans";
  opacity: 0.54;
}

.new-post-title {
  font-size: 1.4rem;
  line-height: 1.2;
  font-weight: 700;
  font-family: "Open Sans-Bold";
  text-transform: uppercase;
}

.new-post-title-link:hover {
  color: #b59f5b;
}

.new-post-title-link {
  color: #000000;
}

/* Поиск */
.new-post-search {
  vertical-align: top;
  display: flex;
  flex-direction: row;
}

.search-field {
  box-sizing: border-box;
  width: 218px;
  height: 48px;
  background-color: #f4f7f6;
  outline: none;
  border: none;
  padding: 17px;
  vertical-align: middle;
}

.search-field:focus {
  border-bottom: 1px solid #b59f5b;
}

.search-field-hint,
.search-button-hint,
.mailings-hint {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

.search-button {
  width: 48px;
  height: 48px;
  background-color: #b59f5b;
  border: none;
  background-image: url(../svg/search.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  vertical-align: middle;
}

.search-button:hover {
  background-color: #323232;
}

/* рассылка */
.mailings-title::after {
  content: "";
  display: block;
  width: 66px;
  height: 3px;
  background-color: #b59f5b;
  margin: 10px auto 25px;
}

.mail-field {
  width: 100%;
  height: 48px;
  background-color: #f4f7f6;
  border: none;
  outline: none;
  padding: 17px;
  vertical-align: middle;
  margin-bottom: 17px;
}

.mail-field:focus {
  border: 1px solid #b59f5b;
}

.subscribe {
  width: 270px;
  height: 48px;
  border: none;
  background-color: #b59f5b;
  font-size: 1.4rem;
  color: #ffffff;
  text-transform: uppercase;
}

.subscribe:hover,
.popup-submit-button:hover {
  background-color: #323232;
}

/* Теги */
.tags-title::after {
  content: "";
  display: block;
  width: 66px;
  height: 3px;
  background-color: #b59f5b;
  margin: 5px auto 20px;
}

.tags-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.tags-list-item {
  font-size: 1.2rem;
  color: #0f0d0e;
  line-height: 3;
  font-weight: 700;
  font-family: "Open Sans-Bold";
  text-transform: uppercase;
  border: 3px solid #eeeeee;
  background-color: rgba(244, 243, 241, 0);
  margin: 6px;
  padding: 0 10px;
}

.tags-list-item:hover {
  border: 3px solid #b59f5b;
}

/* Темы */
.themes-title::after {
  content: "";
  display: block;
  width: 66px;
  height: 3px;
  background-color: #b59f5b;
  margin: 5px auto 10px;
}

.themes-list {
  list-style-type: none;
}

.themes-list-item {
  font-size: 1.4rem;
  line-height: 3.3;
  color: #000000;
  font-weight: 700;
  font-family: "Open Sans-Bold";
}

.themes-list-item:hover {
  color: #b59f5b;
}

.themes-list-item::after {
  content: "";
  display: block;
  width: 271px;
  height: 1px;
  background-color: #eeeeee;
}

/* количество тем */
.sup {
  font-size: 1.2rem;
  line-height: 3;
  color: #b59f5b;
  font-weight: 700;
  font-family: "Open Sans-Bold";
  vertical-align: top;
}

/* Наши изделия */
.products {
  max-width: 1200px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}

.products-title {
  font-size: 2rem;
  line-height: 1.45;
  color: #0f0d0e;
  font-weight: 700;
  font-family: "Open Sans-Bold";
  text-transform: uppercase;
  text-align: center;
}

.products-title:after {
  content: "";
  display: block;
  width: 66px;
  height: 3px;
  background-color: #b59f5b;
  margin: 10px auto 25px;
}

.products-blocks {
  display: flex;
  justify-content: space-between;

}

.product-block {
  min-height: 204px;
  width: 300px;
  display: flex;
  flex-direction: column;
  margin-left: 35px;
  margin-right: 35px;
}

.product-image {
  width: 300px;
  background-color: #eff6f1;
}

.product-card {
  width: 300px;
  outline: 3px solid #b59f5b;
  outline-offset: 20px;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.product-title {
  font-size: 2rem;
  line-height: 1.2;
  color: #0f0d0e;
  font-weight: 700;
  font-family: "Open Sans-Bold";
  text-transform: uppercase;
  padding-top: 15px;
}

.product-description {
  width: 301px;
  font-size: 1.5rem;
  line-height: 1.5;
  color: #0f0d0e;
  font-weight: 400;
  font-family: "Open Sans";
}

.product-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 15px;
}

.product-prices {
  display: flex;
  flex-direction: column;
}

.product-old-price {
  font-size: 1.4rem;
  line-height: 1.7;
  text-decoration: line-through;
  color: #0f0d0e;
  font-weight: 700;
  font-family: "Open Sans-Bold";
}

.product-actual-price {
  font-size: 2rem;
  line-height: 1.2;
  color: #0f0d0e;
  font-weight: 700;
  font-family: "Open Sans-Bold";
}

.to-shop {
  width: 140px;
  height: 48px;
  display: block;
  background-color: #b59f5b;
  border: none;
  font-weight: 700;
  font-family: "Open Sans-Bold";
  font-size: 1.4rem;
  color: #ffffff;
  text-transform: uppercase;
}

.to-shop:hover {
  background-color: #323232;
}

.product-description-text-link {
  color: #b59f5b;
}

/* Курсоры */
.to-shop:hover,
.subscribe:hover,
.search-button:hover {
  cursor: pointer;
}

/* Подвал */
.footer {
  max-width: 1200px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

.socials {
  background-color: #f4f7f6;
  padding: 27px 0;
  display: block;
  margin-bottom: 70px;
}

.socials-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials-item {
  display: inline-block;
}

.socials-link {
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  margin: 0 14px;
  display: inline-block;
}

/* Иконки соц сетей*/
.socials-link-twitter {
  background-image: url(../svg/004-twitter.svg);
}

.socials-link-pinterest {
  background-image: url(../svg/001-pinterest.svg);
}

.socials-link-facebook {
  background-image: url(../svg/002-facebook-logo.svg);
}

.socials-link-instagram {
  background-image: url(../svg/005-instagram.svg);
}

.socials-link-tumblr {
  background-image: url(../svg/003-tumblr.svg);
}

.socials-text {
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}

/* Копирайт */
.copyright {
  text-align: center;
  margin-bottom: 60px;
}

.copyright-text {
  font-size: 1.2rem;
  color: #999999;
  font-weight: 700;
  font-family: "Open Sans-Bold";
}

/* Конец блока копирайт */

/* Попап*/

.popup {
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  padding: 55px 15px;
  overflow: scroll;
}

.popup-container {
  max-width: 390px;
  max-height: 590px;
  display: flex;
  flex-direction: column;
  margin: auto;
  background-color: rgb(255, 255, 255);
  background-position: center center;
  background-repeat: no-repeat;
  padding: 50px 30px;
  z-index: 1000;
}

.popup::after {
  content: "";
  z-index: 100;
  position: fixed;
  background-color: rgb(0, 0, 0);
  opacity: 0.6;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.popup-title {
  font-size: 2rem;
  line-height: 1.45;
  color: #0f0d0e;
  font-weight: 700;
  font-family: "Open Sans-Bold";
  text-transform: uppercase;
  text-align: center;
}

.popup-title:after {
  content: "";
  display: block;
  width: 66px;
  height: 3px;
  background-color: #b59f5b;
  margin: 10px auto 15px;
}

.popup-span {
  font-size: 1.3rem;
  line-height: 3;
  color: #000000;
  font-weight: 400;
  font-family: "Open Sans";
}

.popup-select {
  font-size: 1.3rem;
  color: #000000;
  font-weight: 400;
  font-family: "Open Sans";
  display: inline-block;
  box-sizing: border-box;
  width: 330px;
  height: 48px;
  background-color: #f4f7f6;
  border: none;
  outline: none;
  padding: 17px;
  vertical-align: middle;
  margin-bottom: 17px;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url(../svg/form-arrows.svg);
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: right 5px center;
}

.popup-select:focus {
  border: 1px solid #b59f5b;
}

.popup-activity-check {
  margin-bottom: 30px;
}

.email-check-question,
.email-check-question-text,
.feedback-form-question,
.feedback-text {
  font-size: 1.3rem;
  color: #000000;
  font-weight: 400;
  font-family: "Open Sans";
}

.feedback-form-question {
  max-width: 330px;
}

.popup-close {
  width: 1em;
  height: 1em;
  top: calc(50% - 640px/2);
  right: calc(50% - 195px);
  font-size: 2rem;
  position: fixed;
  background-image: url(../svg/form-x.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #00000000;
  border: none;
}

.popup-close:hover,
.popup-submit-button:hover {
  cursor: pointer;
}

.radio-group-container {
  display: inline-block;
}

.radio-group {
  margin-right: 10px;
}

.email-check-answer {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
}

.email-check-question-text::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 8px;
  background-color: #ffffff;
  border: 1px solid #b59f5b;
  vertical-align: middle;
  margin-right: 8px;
}

.email-check-answer:checked~.email-check-question-text::before {
  background-image: url(../svg/form-circle.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px;
}

.feedback-form {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.feedback-text {
  resize: none;
  max-width: 330px;
  min-height: 120px;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 30px;
  background-color: #f4f7f6;
}

.feedback-text:focus {
  border-left: 1px solid #b59f5b;
  border-right: 1px solid #b59f5b;
  border-bottom: 1px solid #b59f5b;
  border-top: none;
  outline: none;
}

.popup-submit-button {
  width: 330px;
  min-height: 48px;
  border: none;
  background-color: #b59f5b;
  font-size: 1.75rem;
  color: #ffffff;
  text-transform: uppercase;
}

.menu-logo {
  position: absolute;
  top: 50px;
  right: 35px;
}

@media (min-width: 1200px) {
  .menu-logo {
    display: none;
  }
}

@media (min-width: 641px) and (max-width: 1200px) and (orientation: landscape) {
  .trends-blocks>.trend-block {
    width: calc(25% - 5px);
  }

  .trends-blocks>.trend-block:not(:nth-child(1)) {
    margin-left: 5px;
    margin-top: 0px;
  }

  .trend-block>.trend-block-description {
    padding: 2.5rem 1rem;
    margin: 1em;
  }
}

/* Для планшетов */
@media (min-width: 641px) and (max-width: 1200px) {
  html {
    font-size: 56%;
  }

  .container {
    padding: 0 35px;
  }

  .menu-button {
    visibility: visible;
  }

  .header {
    background-image: url(../images/banner-bg-tablet.jpg);
  }

  .menu-list {
    display: none;
  }

  .trends {
    margin-top: 50px;
  }

  .trends-blocks {
    flex-wrap: wrap;
  }

  .trend-block {
    width: calc(50% - 5px);
  }

  .trend-block:nth-child(1n + 2) {
    margin-left: 0;
  }

  .trend-block:nth-child(2n) {
    margin-left: 5px;
  }

  .trend-block:nth-child(1n + 3) {
    margin-top: 0.5em;
  }

  .content {
    padding: 50px 35px;
    width: 100%;
  }

  .main {
    margin-right: 35px;
    flex-grow: 1;
  }

  .article {
    flex-direction: column;
    width: 100%;
  }

  .main>.article:nth-child(n + 2) {
    margin-top: 32px;
  }

  .article:not(:last-of-type):after {
    content: "";
    width: 100%;
    height: 3px;
    background-color: #eeeeee;
    margin-top: 25px;
  }


  .article-preview-image {
    width: 100%;
  }

  .article-info {
    margin: 0;
  }

  .article:nth-child(n + 2) {
    margin-top: 65px;
  }

  .article-hint {
    margin: 40px 0;
  }

  .products {
    margin-top: 20px;
  }
  .products-blocks {
    flex-wrap: wrap;
    width: 100%;
  }

  .product-card {
    width: 292px;
  }

  .product-block {
    margin-bottom: 50px;
    width: 292px;
  }

  .product-image {
    width: 292px;
  }

  .shop-item-image {
    min-width: 292px;
  }

  .product-title {
    padding-top: 25px;
  }

  .product-description {
    width: 292px;
  }

  .article-preview-image {
    margin-bottom: 15px;
  }

  .popup-span,
  .popup-select,
  .email-check-question,
  .email-check-question-text,
  .feedback-form-question,
  .feedback-text {
    font-size: 1.45rem;
  }

  .popup-close {
    font-size: 25px;
    top: calc(50% - 648px/2);
    right: calc(50% - 195px);
  }

}

@media (max-width: 640px) and (orientation: landscape) {
  .trends-blocks>.trend-block {
    width: calc(50% - 5px);
  }

  .trends-blocks>.trend-block:nth-child(2n + 2) {
    margin-left: 5px;
  }

  .trends>.trends-blocks>.dos-trend {
    margin-top: 0;
  }
}

/* Мобильная версия */
@media (max-width: 640px) {
  html {
    font-size: 50%;
  }

  .header {
    background-image: url(../images/banner-mobile.jpg);
  }

  .menu-button {
    visibility: visible;
    top: -125px;
  }

  .title {
    margin-top: 30px;
    font-size: 26px;
  }

  .logo {
    width: 270px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 215px;
  }

  .logo-img {
    width: 275px;
  }

  .trends {
    margin-top: 43px;
  }
  .container {
    max-width: 640px;
  }

  .main {
    margin: auto;
    width: 100%;
    margin-right: auto;
  }

  .article {
    width: 100%;

  }

  .main>.article:nth-child(n + 2) {
    margin-top: 32px;
  }

  .article::after {
    content: "";
    width: 100%;
    height: 3px;
    background-color: #eeeeee;
    margin-top: 25px;
  }

  .article-preview-image {
    margin-bottom: 15px;
    width: 100%;
  }

  .right-bar {
    margin: auto;
    margin-top: 43px;
    width: 100%;
  }

  .new-posts-title,
  .mailings-title,
  .tags-title,
  .themes-title {
    font-size: 16px;
  }

  .menu-list {
    display: none;
  }

  .trend-block-tag-link,
  .article-tag-link,
  .article-content,
  .new-post-title-link {
    font-size: 14px;
  }

  .trends-blocks {
    flex-wrap: wrap;
  }

  .trend-block {
    width: 100%;
  }

  .trend-block:nth-child(1n + 2) {
    margin-left: 0;
  }

  .trend-block:nth-child(2n) {
    margin-left: 0;
  }

  .trend-block:nth-child(1n + 3) {
    margin-top: 0;
  }

  .trend-block:nth-child(1n + 2) {
    margin-top: 0.5em;
  }

  .content {
    padding: 43px 15px 0 15px;
    flex-wrap: wrap;
    max-width: 100%;
    margin-left: 0;
  }

  .new-post-search, .new-posts, .mailings, .tags, .themes {
    margin-bottom: 43px;
}

  .search {
    width: 100%;
  }

  .search-field {
    width: calc(99% - 49px);
  }

  .subscribe {
    width: 100%;
  }

  .themes-list-item::after {
    width: 100%;
  }

  .article {
    flex-direction: column;
  }

  .article-info {
    margin: 0;
  }

  .article:nth-child(n + 2) {
    margin-top: 65px;
  }

  .products {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
  }
  

  .product-image {
    width: 282px;
  }

  .shop-item-image {
    width: 282px;
  }

  .products-blocks {
    flex-wrap: wrap;
    justify-content: center;
  }

  .product-block {
    width: 282px;
  }

  .product-card {
    width: 282px;
  }

  .product-block:nth-child(1n + 2) {
    margin-top: 45px;
  }

  .product-description {
    font-size: 15px;
    width: 282px;
  }

  .socials, .copyright {
    margin-bottom: 50px;
  }

  .popup-span,
  .popup-select,
  .email-check-question,
  .email-check-question-text,
  .feedback-form-question,
  .feedback-text {
    font-size: 1.65rem;
  }

  .popup-container {
    width: 330px;
    max-height: 548px;
    padding-top: 30px;
  }

  .popup-close {
    font-size: 25px;
    top: calc(50% - 610px/2);
    right: calc(50% - 165px);
  }

  .popup-select,
  .feedback-form,
  .feedback-text,
  .popup-submit-button {
    width: 278px;

  }

  .feedback-text {
    margin-bottom: 25px;
  }





}